apiVersion: v1
kind: Secret
metadata:
  name: {{ longhorn_vars.kubernetes.default_settings.csi_encryption_kms_secret_name }}
  namespace: {{ longhorn_vars.kubernetes.default_settings.csi_encryption_kms_secret_namespace }}
type: Opaque
data:
  CRYPTO_KEY_VALUE: {{ global_map.longhorn.encryption.key | b64encode }}
