apiVersion: v1
kind: Secret
metadata:
  name: {{ longhorn_vars.kubernetes.encryption.secret_name }}-new
  namespace: {{ longhorn_vars.kubernetes.namespace }}
type: Opaque
stringData:
  CRYPTO_KEY_VALUE: {{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits'], length=32) }}
  CRYPTO_KEY_PROVIDER: {{ longhorn_vars.kubernetes.encryption.provider }}
