apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sample-encrypted-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-encrypted
  resources:
    requests:
      storage: 5Gi
