{% set component_hpa_enabled = coredns_vars.kubernetes.hpa.enabled is truthy %}
{% set component_hpa_min_replicas = coredns_vars.kubernetes.hpa.min_replicas %}
{% set component_hpa_max_replicas = coredns_vars.kubernetes.hpa.max_replicas %}
{% set component_hpa_target_memory = coredns_vars.kubernetes.hpa.resource.target.utilization %}
{% include 'templates/common/hpa.j2' %}

{% if coredns_vars.kubernetes.deployment.legacy is truthy %}
k8sAppLabelOverride: kube-dns
{% endif %}

{% set component_pdb_max_unavailable = 1 %}
{% include 'templates/common/pdb.j2' %}

{% set component_monitoring_enabled = coredns_postinstall is truthy and coredns_map.metrics.service.monitor.enabled is truthy %}
{% set component_monitoring_interval = coredns_map.metrics.service.monitor.scrape.interval %}
{% set component_monitoring_timeout = victoriametrics_map.service.monitor.scrape.timeout %}
{% include 'templates/common/monitoring.j2' %}

{% set component_resources_limits_cpu = coredns_vars.kubernetes.resources.limits.cpu %}
{% set component_resources_limits_memory = coredns_vars.kubernetes.resources.limits.memory %}
{% set component_resources_requests_cpu = coredns_vars.kubernetes.resources.requests.cpu %}
{% set component_resources_requests_memory = coredns_vars.kubernetes.resources.requests.memory %}
{% include 'templates/common/resources.j2' %}

rollingUpdate:
  maxSurge: 1
  maxUnavailable: 0

servers:
  {{ lookup('ansible.builtin.template', 'config_servers.j2') | trim | indent(2) }}

service:
  clusterIP: {{ k3s_map.cluster.dns }}

serviceAccount:
  create: true