apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
  - resources:
    - secrets
    providers:
    - aescbc:
        keys:
        - name: key2  # Current active key for encryption
          secret: {{ k3s_vars.encryption.key | b64encode }}
        - name: key1  # Previous key for decryption only
          secret: {{ k3s_vars.encryption.old_key | b64encode }}
    - identity: {}  # Fallback, never used for encryption
